.theme-container.custom-api-page

  code
    color: #e96900
    padding: 3px 5px
    margin: 0 2px
    border-radius: 2px
    white-space: wrap
  table
    border-radius: 2px
    border-spacing: 0
    border-collapse: collapse
    margin: 1.2em auto
    margin-left: 1.8em
    padding: 0
    display: block
    overflow-x: auto
    font-size: smaller
  th, td
    padding: .4em
    text-align: center
  th
    background-color: #f8f8f8
    padding-bottom: .2em
    font-weight: 450
  td
    padding-top: .2em
  tr:nth-child(even)
    background-color: #f8f8f8
